@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&display=swap");

:root {
  --font-1: Bebas Neue;
  --font-2: "Inconsolata", monospace;

  --color-first: #9f5c32;
  --color-second: #dddddd;
  --color-third: #000000;
  --color-fourth: #ffffff;

  --text-color-white: #ffffff;
  --text-color-black: #000000;
  --text-color-brown: #9f5c32;

  --color-header-tema-light: #ffffffe3;
  --color-header-tema-dark: #000000;
}

.tema-dark {
  /* Estilo header (monile-tablet)*/
  background-color: var(--color-first);

  .menu-select {
    background-color: var(--color-header-tema-light);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
  }
  .menu-hidden {
    background-color: transparent;
    box-shadow: none;
    a {
      color: var(--text-color-white);
      text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.6);
    }
  }
  .mode-button {
    background-color: var(--color-fourth);
  }

  /* Estilo header (desktop) */
  @media (min-width: 1000px) {
    .menu-select {
      background-color: var(--color-header-tema-dark);
      box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);

      a {
        color: var(--text-color-white);
        text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.25);
      }
    }
  }
}
.tema-light {
  /* Estilo header (mobile-tablet) */
  background-color: var(--color-second);
  .menu-select {
    background-color: var(--color-header-tema-dark);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);

    a {
      color: var(--text-color-white);
      text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.356);
    }
  }
  .menu-hidden {
    background-color: transparent;
    box-shadow: none;
  }
  .mode-button {
    background-color: var(--color-third);
  }

  /* Estilo header (desktop) */
  @media (min-width: 1000px) {
    .menu-select {
      background-color: var(--color-second);
      box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
      a {
        color: var(--text-color-black);
        text-shadow: 4px 4px 6px rgba(14, 0, 0, 0.25);
      }
    }
  }
}

.hidden {
  display: none;
}
